/*.navbar{
  height: 10%;
  width: 100%;
}*/

#header {

}

.navbar{
/*  background-color: #1A1A1D ;*/
  background-color: #a1a1a1;
/*  box-shadow: black 0 1px 3px;*/
}

.nav-item .nav-link, .navbar-brand{
  /*
  color: #D7D7D7;
  */
}

.dropdown-menu{
  width: 100px;
}

.nav-item a:hover{
  cursor: pointer;
  color: rgba(255, 0, 0, 0.71);
  /*
  color: #c13584;
  */
}
