

 <!-- <nav class="navbar navbar-light navbar-expand-lg bg-body-tertiary">-->
  <nav class="navbar navbar-light navbar-expand-lg border">
<!--  <nav class="navbar navbar-expand-lg">-->
    <div class="container-fluid">
<!--      <a class="navbar-brand ms-2" href="">Navbar</a>-->
      <a class="navbar-brand ms-2">Archive</a>
      <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="/">Home</a>
          </li>

<!--          <li class="nav-item">
            <a class="nav-link active"
               aria-current="page" routerLink="/vehicles" role="button">&lt;!&ndash;Contacts&ndash;&gt;Archives</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"
               aria-current="page" routerLink="/vehicles" role="button">&lt;!&ndash;Contacts&ndash;&gt;Available</a>
          </li>-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Vehicles
            </a>
            <ul class="dropdown-menu">
<!--                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>--->
<!--
                <li><a class="dropdown-item" href="#">Something else here</a></li>
-->
                <li class="drop-field">
                    <a class="nav-link px-3"
                       routerLink="/archives"><!--Contacts-->Archives</a>
                </li>
                <li class="drop-field">
                    <a class="nav-link px-3"
                       routerLink="/sales"><!--Contacts-->For Sale</a>
                </li>
            </ul>
          </li>

            <li class="nav-item dropdown" *ngIf="authService.isAdmin">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Updates
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="nav-link px-3"
                           routerLink="/edit-archives"><!--Contacts-->Archives</a>
                    </li>
                    <li>
                        <a class="nav-link px-3"
                           routerLink="/edit-archives"><!--Contacts-->Sales</a>
                    </li>
                </ul>
            </li>

          <li class="nav-item">
            <a *ngIf="authService.isAdmin" aria-current="page" class="nav-link active" href="http://localhost:8080/h2-console">H2 DB</a>
          </li>
<!--          <li class="nav-item">
            <a *ngIf="authService.isAdmin" aria-current="page" class="nav-link active" routerLink="/editions">Updates</a>
          </li>-->

          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <div class="input-group">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </div>
        </form>
        <ul class="navbar-nav mb-2 mb-lg-0 me-5">

          <li class="nav-item">
            <a *ngIf="!authService.isLoggedIn()" aria-current="page" class="nav-link active" (click)="login($event)">Login</a>
            <a *ngIf="authService.isLoggedIn()" aria-current="page" class="nav-link active" (click)="logout($event)">Logout</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>

