/*
.main-model-container{
  background-color: #34495e;

  align-items: center;
  border: 1px solid #ccc; !* Obramowanie *!
  border-radius: 8px; !* Zaokrąglenia *!
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); !* Cień *!
}
.img-container{
  aspect-ratio: 3/2;
  margin: auto;
  background-color: #c13584;
}
.model-name-container{
  background-color: #27288a;
  width: 100%;
}



!*
@media (max-width: 600px) {
  .main-model-container{
    width: 100%;
  }
}
*!
*/

.main-model-container{
  background-color: white;
}

.img-container  {
  aspect-ratio: 3/2;
  background-color: white;
}



