/*
!*.main-brand-container{
  width: 100%;
  background-color: #72aaff;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*!

.main-brand-container {

  width: 100%;

  min-width: 80px;
  max-width: 100px; !* Maksymalna szerokość pojedynczego brandu *!
  background-color: #72aaff;
  height: 100%; !* Dopasowanie wysokości do rodzica *!
  display: flex;
  flex-direction: column;
  padding: 5%;
!*  justify-content: center;*!
  align-items: center;
  border: 1px solid #ccc; !* Obramowanie *!
  border-radius: 8px; !* Zaokrąglenia *!
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); !* Cień *!
}

.img-container{
  aspect-ratio: 1/1;
  width: 100%;
  background-color: #9099A5;
  margin: auto;
}

.brand-name-container{
  text-align: center;
}
*/

/*.main-brand-container{
  background-color: #34495e;

  align-items: center;
  border: 1px solid #ccc; !* Obramowanie *!
  border-radius: 8px; !* Zaokrąglenia *!
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); !* Cień *!
}*/
.img-container{
  aspect-ratio: 1/1;
/*  width: 100%;*/
  margin: auto;
  background-color: white;
}
/*.brand-name-container{
  background-color: #27288a;
  width: 100%;
}*/


/*@media (max-width: 600px) {
  .main-brand-container{
    width: 100%;
  }
}*/
