<div class="d-grid d-md-flex p-2 mx-3 my-3">
    <button class="btn brand-add ms-auto mx-2" type="button" value="Add" (click)="onOpenModal()"
            data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add</button>

    <button class="btn brand-delete mx-2" type="button" value="Delete">Delete</button>

</div>
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col"></th>
    <th scope="col">Name</th>
    <th scope="col">Logo</th>
    <th scope="col"></th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let brand of brands">

    <td class="only-td align-middle">
      <input class="form-check-input" type="checkbox" [value]="brand.id"
             (change)="toggleBrandSelection(brand.id)" [checked]="selectedBrands.includes(brand.id)">
<!--      <div class="form-check">

      </div>-->
    </td>

    <td>{{ brand.name }}</td>
    <td>{{ brand.logo }}</td>
    <td>{{ brand.name }}</td>
<!--
    <td><a class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit" (click)="onOpenModalEdit(brand)"><i class="fa fa-pencil"></i></a></td>
-->
  </tr>
  </tbody>
</table>



<div class="modal fade" id="staticBackdrop"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"><!--data-bs-backdrop="static" data-bs-keyboard="false"-->
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add new brand</h1>
        <!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
      </div>
      <div class="modal-body">
        <form [formGroup] = "brandAddForm" (ngSubmit)="onSubmit()" id="brandAddForm">
          <!--          <div *ngIf="errorMessage" class="error-message">
                      {{ errorMessage }}
                    </div>-->

          <div class="mb-3">
            <label for="name-add" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name" id="name-add" name="name" required>
            <div *ngIf="brandAddForm.get('name')?.invalid && brandAddForm.get('name')?.touched" class="text-danger">
              Please enter brand name.
            </div>
          </div>
          <div class="mb-3">
            <label for="logo-add" class="form-label">LogoUrl</label>
            <input type="text" class="form-control" formControlName="logo" id="logo-add" name="logo" required>
            <div *ngIf="brandAddForm.get('logo')?.invalid && brandAddForm.get('logo')?.touched" class="text-danger">
              Please enter logo URL.
            </div>
          </div>

          <div *ngIf="reallyTouched()">Formularz jest niepoprawny!</div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="but2" [disabled]="!brandAddForm.valid" form="brandAddForm">Save</button>
        <!--<button type="button" class="btn btn-primary">Save</button>-->
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



