<p>bread-engine works!</p>


<div class="container d-flex flex-wrap justify-content-evenly">
  <div class="model-item  my-2 mx-1" *ngFor="let engine of engines">
    <!--
        <a (click)="selectBrand(brand)">{{ brand.name }}</a>
    -->
    <div class="model-item-container">
      {{engine.versionId}}
      <!--
            <app-model [model]="model" class="model-container my-1" [routerLink]="[model.nameId]"></app-model>
      -->
      <app-item [data]="engine.name + ' (' + engine.from + ' - ' + engine.from + ')'" [routerLink]="[engine.nameId]"></app-item>
    </div>

  </div>
</div>
