
<div class="d-flex flex-wrap justify-content-evenly">
  <div class="item  my-2 mx-1" *ngFor="let model of models">
    <!--
        <a (click)="selectBrand(brand)">{{ brand.name }}</a>
    -->
<!--
      <app-model [model]="model" class="model-container my-1" [routerLink]="[model.nameId]"></app-model>
-->
<!--
      <app-item [data]="model.name" class="model-container" [routerLink]="[model.name]"></app-item>
-->


        <app-item [name]="model.name" class="model-container"  (click)="getNavigationPath(model)"></app-item>

  </div>
</div>
